$primary-color: #1b343c;
$secondary-color: #3e7a96;
$alternative-color: #619eb3;
$dark: #262626;
$highlight: #7aecf1;
$lowlight: #9388A2;

body {
    background-color: $dark;
    // background-color: lightgray;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin outer-container {
    margin: 0 auto;
    background-color: $primary-color;
    color: $secondary-color;
    width: 93%;
    border-radius: 15px;
}

@mixin inner-container {
    margin: 0 auto;
    background-color: $alternative-color;
    color: $dark;
    width: 96%;
    border-radius: 10px;
}

@mixin title-card {
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    width: 96%;
    height: 80px;
    padding-top: 35px;
    padding-bottom: 80px;
    color: $secondary-color;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: 3px solid $lowlight;
    text-shadow: 2px 0 0 $highlight, -2px 0 0 $highlight, 0 2px 0 $highlight, 0 -2px 0 $highlight, 1px 1px $highlight, -1px -1px 0 $highlight, 1px -1px 0 $highlight, -1px 1px 0 $highlight;
}

@mixin button-scheme {
    background-color: $secondary-color;
    border-color: $lowlight;
    color: $dark;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

@mixin button-animation {

    &:hover,
    &:active {
        background: linear-gradient(269deg,
                $secondary-color,
                $alternative-color,
                $highlight,
                $alternative-color,
                $secondary-color);
        background-size: 300% 300%;
        animation: gradient-animation 3s ease infinite;
    }

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

// NAVBAR
.navBarContainer {
    border-bottom: 3px solid $secondary-color;
    box-shadow: #7aecf1;
    background-color: $primary-color;
    color: $secondary-color;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;

    .logo {
        color: $secondary-color;
        letter-spacing: 5px;
    }

    // Login button  IS HIDDEN TO NON UNTIL I FIISH THE NAV BAR
    .login {
        display: inline;
        margin-right: 15px;
        // background-color: rgb(175, 32, 32);
        // padding-top: 20px;
        // width: 10%;
        // margin: auto;

        //hidden for now untill @media is added====================================>
        //talk with tuesday to see how she wants to handle this
        // display: none;

        @media(max-width: 768px) {
            position: absolute;
            right: 80px;
        }

        &:hover {
            color: $highlight;
            font-size: 1.3rem;
            box-shadow: rgba(206, 206, 216, 0.682) 0px 50px 100px -20px,
                rgba(244, 240, 240, 0.3) 0px 30px 60px -30px,
                rgba(255, 255, 255, 0.998) 0px -2px 6px 0px inset;
        }

        
    }

    .navLink {
        //border: 1px solid red;
        margin-right: 18px;
        font-size: 1.2rem;
        letter-spacing: 2px;
        text-decoration: none;
        color: $secondary-color;
        font-weight: bold;

        &:hover {
            color: $highlight;
            font-size: 1.3rem;
            box-shadow: rgba(206, 206, 216, 0.682) 0px 50px 100px -20px,
                rgba(244, 240, 240, 0.3) 0px 30px 60px -30px,
                rgba(255, 255, 255, 0.998) 0px -2px 6px 0px inset;
        }
    }

//Hamburger Styles=================>
.hamburger {
    display: none;
}





//Media Queries=====================================>
@media(max-width: 768px) {
    a.navLink {
        display: none;
        // border: 2px solid red;
    }

    .hamburger {
        // border: 2px solid red;
        // outline: none;
        background: none;
        border: none;
        margin-right: 25px;
        cursor: pointer;
        width: 40px;
        height: 30px;
        display: block;
        position: relative;
        // determines stack level of the element
        z-index: 1;
        /* controls the origin from where the hamburger will rotate */
        // transform-origin: 0 0;
        // transition: 2s;
    }

    .hamburger span {
        display: block;
        width: 98%;
        height: 5px;
        margin-bottom: 5px;
        position: relative;
        background-color: $secondary-color;
        border-radius: 3px;
    }
}
}

.hamburger:hover span:nth-child(2) {
    opacity: .5;
    transform: translateX(9px);
    transition: 1s;

}

.hamburger.span:nth-child(1) {
    transform: translate(0px, -2px)rotate(45deg);
}

//DashBoard Styles
.dashHeader {
    // border: 3px solid rgb(9, 117, 9);
    // background-color: aqua;
    width: 98%;
    font-size: 1rem;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: $secondary-color;
    letter-spacing: 3px;
}

.dashContainer {
    @include outer-container;
    margin: auto;
    // margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    // border: 3px solid red;
    // border-radius: 10px;
    // height: 100vh;
    // width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    box-shadow: rgba(28, 28, 29, 0.767) 0px 6px 12px -2px, rgba(0, 0, 0, 0.74) 0px 3px 7px -3px;

    a {
        color: black;
        text-decoration: none;
    }

    .showContainer {
        @include inner-container;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 5px;
        // width: 50%;
        box-shadow: rgba(28, 28, 29, 0.767) 0px 6px 12px -2px, rgba(0, 0, 0, 0.74) 0px 3px 7px -3px;

        h1 {
            @include title-card;
        }

        button {
            @include button-scheme;

            &:hover,
            &:active {
                background: linear-gradient(269deg,
                        #3e7a96,
                        #619eb3,
                        #ff1010,
                        #619eb3,
                        #3e7a96);
                background-size: 300% 300%;
                animation: gradient-animation 3s ease infinite;
            }
        }
    }
}

//Search page styles
.search-container {
    @include outer-container;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top: 90px;
    box-shadow: rgba(28, 28, 29, 0.767) 0px 6px 12px -2px, rgba(0, 0, 0, 0.74) 0px 3px 7px -3px;

    #search-header {
        letter-spacing: 3px;
    }

    h1 {
        margin-top: 10px;
        padding: 10px;
    }

    form {
        height: 45px;

        input {
            height: 30px;
            margin-right: 15px;
            background-color: $lowlight;
            color: $dark;
            padding: 5px;
        }

        button {
            @include button-scheme;
            height: 30px;
            width: 65px;

            @include button-animation;
        }
    }

    .search-show {
        @include inner-container;
        box-shadow: rgba(28, 28, 29, 0.767) 0px 6px 12px -2px, rgba(0, 0, 0, 0.74) 0px 3px 7px -3px;

        .titlecard {
            margin: 20px;
            padding-top: 15px;

            h1 {
                @include title-card;
            }
        }

        button {
            @include button-scheme;
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
            width: 400px;
            height: 70px;
            border-radius: 15px;

            &:after {
                content: 'Add to BingeList';
                display: block;
            }

            &:focus:after,
            &:active:after {
                content: 'Added!';
                display: block;
            }

            @include button-animation;

            @media screen and (max-width: 915px) {
                width: 90%;
            }
        }

    }
}


//individual Show Page Styles=========================>

.wrapper {
    // background-color: pink;

    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.showPageh1 {
    // border: 2px solid red;
    color: $secondary-color;
    font-size: 4rem;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 15px;
    width: 70%;

}

//controls elements inside the box
.showPageContainer {
    @include outer-container;
    // border: 2px solid blue;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 600px) {

    //Dash Styles

    .dashHeader {
        font-size: 1.2rem;
        // border: 2px solid red;
        width: 98%;
    }

    .dashContainer {
        // background-color: aqua;
        width: 65%;
    }






    //Show Page Styles
    .wrapper {
        // background-color: green;
        width: 500px;
    }

    .showPageh1 {
        font-size: 2.5rem;
    }



}