//nothing here for now, but this is connected to index.js and so will cascade through
//entire app


$primary-color: #1b343c;
$secondary-color: #3e7a96;
$alternative-color: #619eb3;
$dark: #262626;
$highlight: #7aecf1;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin outer-container {
    margin: 0 auto;
    background-color: $primary-color;
    color: $secondary-color;
    width: 93%;
    border-radius: 15px;
}

@mixin inner-container {
    margin: 0 auto;
    background-color: $alternative-color;
    color: $dark;
    width: 96%;
    border-radius: 10px;
}

body {
    background-color: $dark;
    // background-color: lightgray;
    overflow: auto;
}

.search-container {
    @include outer-container;

    .search-show {
        @include inner-container;

        .titlecard {
            margin: 20px;
            padding-top: 15px;

            h1 {
                margin: 0 auto;
                margin-top: 15px;
                text-align: center;
                width: 96%;
                height: 80px;
                padding-top: 35px;
                color: $secondary-color;
                background-position: center;
                background-size: cover;
                border-radius: 10px;
                border: 3px solid $dark;
            }
        }

        button {
            background-color: $secondary-color;
            border-color: $dark;
            color: $dark;
            margin-bottom: 15px;
            width: 400px;
            height: 70px;
            border-radius: 15px;

            &:hover, &:active {
                background: linear-gradient(269deg, 
                    $secondary-color,
                    $alternative-color, 
                    $highlight, 
                    $alternative-color, 
                    $secondary-color);
                background-size: 300% 300%;
                animation: gradient-animation 3s ease infinite;
            }

            @keyframes gradient-animation {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

            @media screen and (max-width: 915px) {
                width: 90%;
            }
        }
        
    }
}


// NAVBAR
.navBarContainer{
    background-color:   rgba(15, 34, 40, 0.621);
    border-bottom: 3px solid #9388A2;
    box-shadow: #7aecf1;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLink{
//   border: 1px solid red;
  margin-right: 18px;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
//   color: $dark;
  color: #9388A2;
  font-weight: bold;
}
.navLink:hover{
    color:#fff;
    font-size: 1.3rem;
    box-shadow: rgba(206, 206, 216, 0.682) 0px 50px 100px -20px, rgba(244, 240, 240, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.998) 0px -2px 6px 0px inset;
}

//Hamburger Styles=================>
// Leave this display none so it doesn't appear when the display is bigger than 768px
.hamburger{
     display: none;
}

// Login button  IS HIDDEN TO NON UNTIL I FIISH THE NAV BAR
.login{
    background-color: rgb(175, 32, 32);
    // padding-top: 20px;
    width: 10%;
    // margin: auto;
    
    //hidden for now untill @media is added====================================>
    //talk with tuesday to see how she wants to handle this
    display: none;
}

//DashBoard Styles=========================>
.dashHeader{
    // border: 3px solid rgb(9, 117, 9);
    // background-color: aqua;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: $dark;
}
.logo{
    //Ask tuesday which of the 2 she likes????????????????????????????????
    // color: $dark;
    color: #9388A2;
    letter-spacing: 5px;
}

// Shows button
// .getShowButton{
//     background-color: aqua;
//     width: 30%;
//     height: 40px;
//     font-weight: bolder;
//     font-family: 'Poppins', sans-serif;
//     border-radius: 5px;
//     border: none;
//     background-color:  rgba(124, 165, 177, 0.621);
//     margin-top: 8px;
//     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
// }
// .getShowButton:hover{
//     background-color: black;
//     color:white;
// }
.bingeH1{
    color:#9388A2;
}
.dashContainer{
    margin:auto;

    font-family: 'Poppins', sans-serif;
    // border: 3px solid red;
    border-radius: 10px;
    // height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-shadow: rgba(000, 000, 000, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
// Show Text
.dashContainer a{
    color: black;
    text-decoration: none;
}

.showContainer{
    background-color: rgba(147, 136, 162, .5);
    margin: auto;
    // margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    // width: 50%;
}

//individual Show Page Styles=========================>
.showPageh1{
    border: 2px solid red;
}

.showPageContainer{
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50%;
    margin: 0 auto;
}

@media(max-width: 768px){
    a.navLink{
        display: none;
        // border: 2px solid red;
    }

    .hamburger{
        // border: 2px solid red;
        // outline: none;
        background: none;
        border: none;
        margin-right: 25px;
        cursor: pointer;
        width: 40px;
        height: 30px;
        display: block;
        position: relative;
        // determines stack level of the element
        z-index: 1;
        /* controls the origin from where the hamburger will rotate */
        // transform-origin: 0 0;
        // transition: 2s;
    }

    .hamburger span{
        display: block;
        width: 98%;
        height: 5px;
        margin-bottom: 5px;
        position: relative;
        background-color: #9388A2;;
        border-radius: 3px;
    }

    .hamburger:hover span:nth-child(2){
       opacity: .5;
        transform: translateX(9px);
        transition: 1s;
  
    }
    .hamburger.span:nth-child(1){
        transform: translate(0px, -2px)rotate(45deg);
     }
}

